.onboarding-steps-container {
    width: 100vw;
    height: 100vh;
    padding: 4rem 2.4rem;

    background-color: var(--bg-color-primary);
}

.onboarding-steps-options {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: auto;
}