.onboarding-steps-container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: 4rem 2.4rem;

    background-color: var(--bg-color-primary);
}

.onboarding-steps-options {
    display: flex;

    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .onboarding-steps-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}