.button-rate {
    display: flex;
    flex-direction: column;
    
    cursor: pointer;
}

.button-rate span {
    font-size: 1.6rem;
    text-decoration: underline;
    text-transform: none;
    
    color: var(--text-color-yellow);
}

.modal-rate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    padding: 2rem;

    border-radius: 8px;
    
    background-color: var(--bg-color-primary);
}

.button-close {
    position: absolute;
    right: 1.6rem;
    top: 1.8rem;
    cursor: pointer;
}

.modal-title {
    margin-top: 1rem;

    font-size: 2.4rem;
    font-family: var(--primary-font);
    font-weight: bold;

    color: var(--text-color-neutral-white);
}

.modal-rating {
    margin: 2rem 0;
}

.modal-comment {
    display: flex;
    flex-direction: column;
}

.modal-comment-title {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    margin-bottom: 0.5rem;

    color: var(--text-color-neutral-white);
}

.modal-comment-area {
    height: 14.8rem;
    padding: 1.2rem 1.6rem;
    resize: none;
    
    font-size: 1.6rem;
    font-family: var(--primary-font);

    border: 2px solid var(--neutral-gray);
    border-radius: 6px;

    background-color: transparent;
}

.modal-comment-area:focus {
    border: 2px solid var(--text-color-yellow);
    outline: none;
}

.modal-comment-area:focus::placeholder {
    color: var(--text-color-neutral-white);
}

.modal-comment-button {
    height: 5.4rem;
    margin-top: 6.2rem;
    cursor: pointer;

    font-size: 1.6rem;
    font-weight: bold;
    color: var(--neutral-dark-gray-2);

    border: none;
    border-radius: 8px;

    background-color: var(--neutral-medium-gray);
}

.modal-comment-button:disabled {
    cursor: default;
}

@media(min-width: 768px) {
    .modal-rate {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 50%;
        padding: 2rem;
    
        border-radius: 8px;
        
        background-color: var(--bg-color-primary);
    }
}

@media(min-width: 1024px) {
    .modal-rate {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 30%;
        padding: 2rem;
    
        border-radius: 8px;
        
        background-color: var(--bg-color-primary);
    }
}