@import url('../../../../../globals.css');

.container-book-loading {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.loader {
    width: 20rem;
    height: 20rem;
}

.container-book {
    background-color: var(--bg-color-primary);
}

.content-container-book {
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
}

.book-title-author-desktop {
    display: none;
}

.book-title-author-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5.2rem;
}

.book-title {
    font-size: 2.4rem;
    text-align: center;
    
    color: var(--text-color-yellow);
}

.book-author {
    font-size: 1.4rem;
}

.book-author span {
    text-decoration: underline;
}

.book-info-reduced {
    display: flex;
    flex-direction: column;
}

.book-image {
    width: 19.2rem;
    height: 29rem;
    object-fit: cover;
    
    border-radius: 8px;
    margin: 1rem auto;
}

.local-genres-area-desktop {
    display: none;
}

.local-genres-area-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.genre-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--neutral-medium-gray);
}

.genre-book {
    padding: 0.8rem;
    font-size: 1.4rem;
    text-transform: capitalize;

    border-radius: 50px;

    color: var(--text-color-yellow);
    background-color: var(--bg-btn-darker);
}

.book-review-desktop {
    display: none;
}

.book-review-mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.note-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-stars {
    font-size: 2rem;
}

.MuiBox-root {
    font-weight: 700;
    font-size: 2rem;

    color: var(--text-color-yellow);
}

.assessments-and-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.assessments-and-reviews span {
    font-size: 1.2rem;
    color: var(--text-color-neutral-white);
}

.button-book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: 40%;
    height: 54px;
    margin: 1rem auto;

    border-radius: 8px;

    color: black;
    background-color: var(--text-color-yellow);
}

.button-book span {
    font-size: 1.6rem;
    font-weight: bold;
}

.button-book:active {
    background-color: var(--bg-btn-active);
}

.rating-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    margin-bottom: 2rem;
}

.book-description, .book-description-open {
    position: relative;
    height: 5.3rem;
    padding: 0 1rem;
    margin-bottom: 1rem;

    overflow: hidden;
}

.book-description::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;

    background: linear-gradient(transparent, #121418);
}

.book-description-open {
    height: fit-content;
}

.book-description-text {
    font-size: 1.4rem;
}

.book-description-button {
    display: flex;
    gap: 0.4rem;

    width: 12rem;
    padding: 0 1rem;
}

.book-description-button span {
    font-size: 1.4rem;
    font-weight: bold;

    color: var(--text-color-yellow);
}

.arrow-top-button {
    transform: rotate(-90deg); 
}

.arrow-bottom-button {
    transform: rotate(90deg); 
}

.button-informations-close, .button-informations-open {
    width: 100%;
    padding: 0 1.2rem;
    margin: 2rem 0 3rem;

    border: 1px solid var(--border-input);
    border-radius: 8px;

    font-size: 1.6rem;
    font-weight: bold;

    color: var(--neutral-medium-gray);
    background-color: var(--bg-btn-darker);
}

.button-informations-close {
    height: 4rem;
}

.button-informations-open {
    height: 25rem;
}

.button-informations-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-informations-arrowTop{
    transform: rotate(180deg);
}

.button-informations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button-informations-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    padding: 2.6rem 0 1.6rem;
}

.button-informations-info h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
}

.button-informations-info p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: start;
}

.comments-title {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;

    color: var(--neutral-medium-gray);
}

.comments-published {
    font-size: 1.2rem;

    color: var(--neutral-medium-gray);
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 24px;
}

.comment-user-intern {
    display: flex;
    gap: 12px;
}

.comment-user-intern img {
    width: 4.6rem;
    height: 4.6rem;
}

.comment-user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.comment-user-info div {
    display: flex;
    gap: 2px;
}

.comment-username {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;

    width: 12rem;

    color: var(--neutral-medium-gray);
}

.comment-date {
    font-size: 1.2rem;
    color: var(--neutral-medium-gray);
}

.comment-user p {
    font-size: 1.4rem;
    color: #FFFFFF;

    margin-top: 8px;
}

.button-more-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: 65%;
    height: 54px;
    margin: 2.8rem auto 6.8rem;

    font-size: 1.6rem;
    font-weight: bold;

    border: 2px solid var(--text-color-yellow);
    border-radius: 8px;

    color: var(--text-color-yellow);
    background-color: transparent;
}

.button-more-comments:active {
    color: var(--bg-btn-active);
    border: 2px solid var(--bg-btn-active);
}

.more-books-author {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding-bottom: 3rem;
}

.more-books-author h3 {
    font-size: 1.6rem;
    color: var(--text-color-neutral-white);
}

.more-books-author {
    font-size: 1.4rem;
    color: var(--text-color-neutral-white);
}

@media (min-width: 768px) {
    .container-book {
        height: 100%;
    }

    .content-container-book {
        display: grid;
        grid-template-columns: repeat(1, 284px 1fr);
        grid-gap: 3rem;

        margin-top: 2rem;
    }

    .book-info-reduced {
        height: fit-content;
    }

    .book-info-large {
        margin-top: 1rem;
    }

    .book-image {
        width: 100%;
        height: 42rem;
        padding: 0;
        object-fit: cover;
    }

    .button-book {
        width: 50%;
    }

    .button-book span {
        font-size: 1.8rem;
    }

    .button-book img {
        width: 6%;
    }

    .book-title-author-mobile {
        display: none;
    }

    .book-title-author-desktop {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        width: 100%;
        margin-bottom: 1rem;
    }

    .book-title {
        text-align: start;
        width: 60%;
    }

    .book-author {
        font-size: 1.6rem;
        font-weight: 700;
        width: 40%;
    }

    .book-author span {
        text-decoration: none;
    }
    
    .book-review-mobile {
        display: none;
    }

    .book-review-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .local-genres-area-mobile {
        display: none;
    }

    .local-genres-area-desktop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.6rem;

        width: 90%;
        margin: 2.4rem 0;
    }

    .genre-title {
        padding-right: 1.6rem;
    }

    .book-description, .book-description-open {
        position: relative;
        height: fit-content;
        padding: 0.2rem;
        margin-bottom: 0;
        width: 90%;
    
        overflow: hidden;
    }
    
    .book-description::before {
        height: fit-content;
        background-color: transparent;
    }

    .book-description-button span, .book-description-button img {
        display: none;
    }

    .button-informations-close {
        width: 60%;
        height: 3.2rem;
        cursor: pointer;

        margin: 4rem 0 6rem;
    }

    .button-informations-open {
        width: 60%;
        height: fit-content;

        margin: 4rem 0 6rem;
        padding: 1rem;
    }
    
    .button-informations-arrowTop {
        cursor: pointer;
    }

    .comments-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .comments-published {
        font-size: 1.4rem;
        margin-bottom: 2.8rem;
    }

    .comments {
        gap: 3.6rem;
    }

    .more-books-author h3 {
        font-size: 2.2rem;
    }

    .more-books-author span {
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
    .content-container-book {
        display: grid;
        grid-template-columns: repeat(1, 348px 1fr);
        gap: 3rem;

        margin-top: 3rem;
    }

    .book-image {
        width: 100%;
        height: 48rem;
        padding: 0;
        object-fit: cover;
    }

    .book-title-author-desktop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
    }

    .book-title {
        font-size: 3.2rem;
        width: fit-content;
    }

    .book-author {
        font-size: 1.8rem;
        width: fit-content;
    }

    .genre-title {
        font-size: 1.6rem;
    }
    
    .genre-book {
        padding: 1rem;
    }

    .book-review-desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 4rem;

        width: 90%;
    }

    .book-description {
        width: 80%;
    }

    .assessments-and-reviews span {
        font-size: 1.4rem;
    }

    .button-informations-close, .button-informations-open {
        width: 40%;
    }

    .button-book {
        width: 50%;
    }

    .container-comments {
        width: 80%;
    }

    .button-more-comments {
        width: 34%;
    }
}