.onboarding-container-author-list-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    width: 100%;
    height: 100%;
    margin-bottom: 14rem;
}

.onboarding-container-author-list-tablet {
    display: none;
}

.onboarding-container-author-list-desktop {
    display: none;
}

.onboarding-author-list, .onboarding-author-list-selected {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    width: 100%;
    height: 7.5rem;
    padding: 1rem;
    
    border-radius: 8px;
    background-color: var(--bg-btn-darker);
}

.onboarding-author-list:hover {
    outline: 2px solid var(--text-color-disabled);
}

.onboarding-author-list-selected {
    outline: 2px solid var(--text-color-yellow);
}

.author-image-onboarding {
    width: 5rem;
    height: 5rem;
    object-fit: cover;

    border-radius: 50%;
    box-shadow: 7px 6px 43px 0px #000;
}

.author-division-onboarding {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.author-title-onboarding {
    font-family: var(--primary-font);
    text-transform: capitalize;
    
    font-size: 1.5rem;
    font-weight: 500;

    color: var(--text-color-neutral-white);
}

.author-genre-onboarding {
    font-family: var(--primary-font);
    text-transform: capitalize;

    font-size: 1.25rem;
    font-weight: 400;
    color: var(--neutral-gray);
}

@media(min-width: 768px) {
    .onboarding-container-author-list-mobile {
        display: none;
    }
    
    .onboarding-container-author-list-tablet {
        display: block;
        margin: 0 auto;
        width: calc(100vw - 4.4rem);
    }

    .onboarding-carrousel {
        width: 90%;
        height: 280px;
    } 

    .swiper {
        padding: 2px !important;
    }
}

@media(min-width: 1280px) {
    .onboarding-container-author-list-mobile {
        display: none;
    }

    .onboarding-container-author-list-tablet {
        display: none;
    }

    .onboarding-container-author-list-desktop {
        display: block;
        margin: 0 auto;
        width: calc(100vw - 4.4rem);
    }

    .onboarding-carrousel {
        width: 80%;
        height: 280px;
    } 

    .swiper {
        padding: 48px !important;
    }
}