.ratingStars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.starIcon {
    color: var(--neutral-gray);
}

.rating-note-book {
    font-size: 2rem;
    margin-right: 1rem;
    
    color: var(--text-color-yellow);
}

.rating-note-author {
    font-size: 1.4rem;

    color: var(--text-color-neutral-white);
}