.header-container{
    display: flex;
    position: relative;

    width: 100%;
    height: 9rem;
    padding: 2rem 2.4rem 0 2.4rem;

    align-items: center;
    justify-content: space-between;
}

.header-search, .header-search-disabled {
    display: none;
}

.header-search-page {
    display: flex;
    position: absolute;

    width: calc(100vw - 4.8rem);
    height: 5.6rem;
    top: 12rem;
}

.header-search-page img {
    position: absolute;
    right: 1.6rem;
    top: 1.5rem;
}

.header-search-page input {
    width: 100%;
    padding: 0 2rem;

    font-size: 1.6rem;

    border: 2px solid var(--neutral-gray);
    border-radius: 8px;
    color: var(--neutral-gray);
    background-color: transparent;
}

.header-search-page input::-webkit-search-decoration,
.header-search-page input::-webkit-search-cancel-button,
.header-search-page input::-webkit-search-results-button,
.header-search-page input::-webkit-search-results-decoration {
    display: none;
}

.header-search-page input[type='search']::-moz-search-clear {
    display: none;
}
.header-search-page input::placeholder {
    color: var(--text-color-neutral-white);
}

.header-search-page input:focus, .header-search-page input:not(:placeholder-shown) {
    outline: 2px solid var(--border-btn-yellow);
    border-color: transparent;
}

.logo-section{
    display: flex;
    align-items: center;
}

.logo-section img{
    width: 12rem;
}

.sandwich-menu{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

nav{
    display: none;
}

@media (min-width: 768px) {
    .sandwich-menu{
        display: block;

        width: 4.0rem;
        height: 4.0rem;
    }

    .search-button-header {
        display: none;
    }

    .header-search {
        display: flex;
        position: relative;

        width: 60%;
        height: 5.6rem;
    }

    .header-search img {
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }

    .header-search input {
        width: 100%;
        padding-left: 6rem;

        font-size: 1.6rem;

        border: 2px solid var(--neutral-gray);
        border-radius: 8px;

        color: var(--neutral-gray);
        background-color: transparent;
    }
}

@media (min-width:1024px) {
    .sandwich-menu{
        display: none;
    }

    .header-search {
        position: relative;

        display: flex;

        width: 30%;
        height: 56px;
    }

    .header-search img {
        position: absolute;
        left: 2rem;
        top: 1.5rem;
    }

    .header-search input {
        width: 100%;
        padding-left: 6rem;

        font-size: 1.6rem;

        border: 2px solid var(--neutral-gray);
        border-radius: 8px;

        color: var(--neutral-gray);
        background-color: transparent;
    }
    
    nav{
        display: block;
    }
}