.button-default-gender, .button-selected-gender {
    padding: 16px 0;
    cursor: pointer;
    
    border: none;
    border-radius: 50px;
    margin: 1rem 0;
    
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.24rem;

    color: var(--text-color-yellow);
    background-color: var(--bg-btn-darker);
}

.button-selected-gender {
    /* border: 2px solid var(--text-color-yellow); */
    outline: 2px solid var(--text-color-yellow);
}