.menu-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #121418;
}

.close-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 4.2rem 0 6.4rem 0;
    padding-right: 2.4rem;
}

.avatar{
    width: 2.8rem;
    height: 2.8rem;
}

.item-menu{
    display: flex;
    width: 100%;
    margin-bottom: 3.6rem;
    padding: 0.4rem 2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.item-menu span{
    color: var(--text-color-white, #FCFCFC);

    font-family: var(--primary-font, 'Inter');
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.selected span {
    color: var(--text-color-yellow, #FDBB22);
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    font-weight: 700;
}