.input {
    display: flex;
    flex-direction: column;
}

.input label {
    color: var(--neutral-light-gray);
    font-family: var(--family-primary);
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.input .container-input {
    width: 100%;
}

.input label,
.input input,
.input input::placeholder,
.input input:focus,
.input input:not(:placeholder-shown),
.error-message-input {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.24rem;
}

.error-container {
    display: flex;
    gap: 1rem;
}

.container-input {
    display: flex;
    align-items: center;
    position: relative;
}

.container-input img {
    position: absolute;
    top: 15px;
    right: 15px;
}

.input input {
    width: 100%;
    height: 5.6rem;
    padding: 0 1.5rem;

    font-family: var(--family-primary);
    border: 2px solid var(--neutral-gray);
    border-radius: 6px;
    
    background-color: transparent;
}

.input input::placeholder, .input input:not(:placeholder-shown) {
    color: var(--neutral-gray);
}

.input input:focus {
    outline: 1px solid var(--border-btn-yellow);
    border: 1px solid var(--border-btn-yellow);
}

.input input::placeholder {
    color: var(--neutral-gray);
}