.input {
    display: flex;
    flex-direction: column;
}

.input label {
    color: var(--neutral-light-gray);
    font-family: var(--family-primary);
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.input .container-input {
    width: 100%;
    position: relative;
}

.input label,
.input input::placeholder,
.input input:focus,
.input input:not(:placeholder-shown),
.error-message-input {
    font-family: var(--primary-font);
    font-family: var(--family-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.24rem;
}

.container-input {
    display: flex;
    align-items: center;
    position: relative;
}

.input input {
    width: 3.5rem;
    height: 5.6rem;
    padding: 0 1.5rem;

    border: 5px solid var(--border-input);
    border-radius: 6px;
    
    background-color: var(--bg-btn-darkblue);
}

.input input::placeholder, .input input:not(:placeholder-shown) {
    color: var(--neutral-gray);
}

.input input:focus {
    color: var(--text-neutral-black);
    background-color: var(--neutral-light-gray);
    border: 2px solid var(--neutral-gray);
}

.input input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--family-primary);

    color: var(--p-color-primary);
}