.input {
    display: flex;
    flex-direction: column;
}

.input label {
    font-size: 1rem;
    font-weight: 400;
}

.input input {
    height: 3.5rem;
    padding: 0 1.5rem;
    margin: 0.3rem 0;

    border: 5px solid var(--border-input);
    border-radius: 6px;
    
    background-color: var(--bg-btn-darkblue);
}

.input input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--family-primary);

    color: var(--p-color-primary);
}