@import url('../../../globals.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-edit{
    min-width: 393px;
    min-height: 873px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:31px;
    background-color: var(--bg-color-primary);
}

.back-section{
    width: 100%;
    display: flex;
    margin-top: 43px;
    margin-left: 20px;
    gap: 4px;
}

.image-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 18px;
}

.image-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image-profile p{
    cursor: pointer;

    font-family: var(--family-primary);
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}

.form-edit{
    width: 353px;
    height: 271px;
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    background-color: var(--bg-input);
    border: 1px solid #577B94;
    border-radius: 10px;
}

.edit-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0 14px;
    background-color: var(--bg-input);
    border-bottom: 1px solid #577B94 ;
    
}

.edit-area p{
    color: red;

    font-family: var(--family-primary);
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}

.edit-area input{
    width: 100%;
    height: 2rem;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--bg-input);
    outline: none;
}


.bio-area{
    display: flex;
    height: 99px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 14px;
    gap:5px;
    margin: 0;
}

.bio-area textarea{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--bg-input);
    outline: none;
    resize: none;
}

.secure-option{
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
    border: 0.5px solid #577B94;
    padding: 0 14.5px 0 12px;
    background-color: var(--bg-option);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.secure-option p{
font-family: var(--family-primary);
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}
