.swiper-slide.swiper-slide-active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.home-container-books {
    height: 37rem;
}

.default-book-list-home {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    width: fit-content;
    margin: 2rem 1.4rem 0.2rem 0.2rem;
    padding-right: 2rem;
}

.book-image-home {
    width: 16rem;
    height: 23.8rem;

    border-radius: 0.8rem;
}

.default-book-list-home:hover .book-image-home {
    outline: 2px solid var(--text-color-yellow);
}

.info-book-home {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.book-title-home {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.24rem;
    
    color: var(--text-color-green-2);
}

.book-title-home, .book-author-home {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;

    width: 16rem;
}

.book-author-home, .book-rating-home {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.96rem;

    color: var(--text-color-neutral-white);
}

.container-book-rating-home {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.book-rating-star-home .MuiRating-iconFilled {
    color: var(--text-color-neutral-white);
}

.default-book-list-home:hover .book-title-home, 
.default-book-list-home:hover .book-author-home,
.default-book-list-home:hover .book-rating-home,
.default-book-list-home:hover .book-rating-star-home .MuiRating-iconFilled {
    color: var(--text-color-yellow);
}

.swiper-pagination-bullet {
    background: var(--neutral-dark-gray-2);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--text-color-yellow);
}

.swiper-button-next, .swiper-button-prev {
    height: 1rem;
    width: 1rem;

    color: var(--text-color-yellow);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    color: transparent;
}

@media (min-width: 780px) {
    .home-container-books {
        height: 40rem;
    }

    .book-image-home,
    .book-title-home,
    .book-author-home {
        width: 18rem;
    }

    .book-image-home {
        height: 26.6rem;
    }

    .book-title-home {
        font-size: 1.8rem;
    }
}

@media (min-width: 1280px) {
    .home-container-books {
        height: 42rem;
    }

    .book-image-home,
    .book-title-home,
    .book-author-home {
        width: 19.3rem;
    }

    .book-author-home {
        height: 28.3rem;
    }
}