.onboarding-container-book-list {
    width: 47.5%;
    height: 28.3rem;

    margin-bottom: 2.8rem;

}

.onboarding-book-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

}

.book-image-onboarding {
    width: 16.2rem;
    height: 23.8rem;

    border-radius: 8px;
}

.book-title-onboarding, .book-author-onborading {
    font-family: var(--primary-fontim);
    text-transform: capitalize;

    color: var(--text-color-neutral-white);
}

.book-title-onboarding {
    margin: 0.8rem 0 0.2rem;
    
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.96rem;
}

.book-author-onborading {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.68rem;
}

@media(min-width: 560px) {
    .onboarding-container-book-list {
        max-width: 33%;
    }
}