:root {
  --bg-color-primary: #121418;
  --bg-input: #1F1F1F;
  --bg-option: #333333;
  --bg-button: #FDBB22;
  --bg-footer: #FFD268;
  --bg-btn-darkblue: #222E36;
  --bg-btn-disabled: #C0C0C0;
  --bg-btn-hover: #E4A81F;
  --bg-btn-active: #CA961B;
  --border-input: ##577B94;
  --border-input: #577B94;
  --border-btn-yellow: #FDBB22;
  --border-green: #8CD92B;
  --text-color-btn-yellow: #FDBB22;
  --text-color-yellow: #FDBB22;
  --pressed-button-yellow: #CA961B;
  --text-color-white: #FFFFFF;
  --text-color-neutral-white: #FCFCFC;
  --text-neutral-black: #0F0F0F;
  --text-color-disabled: #6A6A6A;
  --text-color-lightgray: #F5F5F5;
  --text-color-darkblue: #222E36;
  --text-colo-green: #C7FF80;
  --neutral-light-gray: #F5F5F5;
  --neutral-medium-gray: #C0C0C0;
  --neutral-gray: #939393;
  --neutral-dark-gray: #2F2F2F;
  --neutral-dark-gray-2: #6A6A6A;
  --input-error: #F03D3E;

  --primary-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
