.primary, .secondary  {
    width: 100%;
    height: 3.35rem;
    cursor: pointer;

    border: none;
    border-radius: 0.5rem;

    font-family: var(--family-primary);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
}

.primary {
    color: var(--bg-color-primary);
    background-color: var(--bg-button);
}

.primary:disabled {
    cursor: default;
    color: var(--text-color-disabled);
    background-color: var(--bg-btn-disabled);
}

.secondary {
    border: 1px solid var(--bg-button);
    color: var(--bg-button);
    background-color: transparent;
}