.background-modal-img{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-upload{
    width: 34.3rem;
    height: 20rem;
    background-color: var(--bg-color-primary);

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.close-area{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 1.8rem;
}

.form-upload{
    width: 100%;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-area{
    display: flex;
    width: 100%;
}

.text-area span{
    margin:0 0 3.2rem 2rem;


    color: var(--text-color-white, #FCFCFC);
    font-family: var(--primary-font);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 166.667%;
}

.form-upload input{
    color: yellow;
}

.primary{
    width: 30.2rem;
    margin: 0 2rem 3.2rem;
}