@import url('../../../globals.css');

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; 
    background-color: var(--bg-color-primary);
}

.logo-container{
    display: flex;
    width: 100vw;
    height: 3.6rem;
    align-items: center;
    gap: 0.5rem;
    margin: 6.4rem 0 5.2rem 2.4rem;
}

.logo-container img{
    width: 10.3rem;
    height: 3.6rem;
}

.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34.2rem;
    height: 34.2rem;
    margin: 0 2.4rem 4rem 2.4rem;
}

.text-area h3 {
    display: block;
    color: var(--text-color-white);
    text-align: center;
    font-family: var(--family-primary);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 0.8rem;
}

.text-area span{
    display: block;
    margin-bottom: 1.6rem;
    color: var(--text-color-yellow, #FDBB22);
    text-align: center;
    font-family: var(--family-primary);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.text-area p {
    margin-bottom: 4rem;
    color: var(--text-color-white, #FCFCFC);
    text-align: center;
    font-family: var(--family-primary);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.primary{
    width: 34.2rem;
}

.container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34.2rem;
    height: 27.7rem;
    margin: 0 2.4rem  8.3rem 2.4rem;
    flex-shrink: 0;
}

.copyright {
    color: var(--text-color-white, #F5F5F5);
    text-align: center;
    font-family: var(--family-primary);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 4.4rem;
}

@media (min-width: 768px){

    .container-main {
        width: 100%;
        height: auto; 
        background-color: var(--bg-color-primary);
    }
    
    .container-text{
        width: 57.9rem;
        height: auto;
        align-items: flex-start;
    }

    .text-area h3{
        margin-bottom: 1.2rem;
        font-size: 5.6rem;
        font-weight: 600;
        line-height: 100%;
        text-align: start;
    }

    .text-area span{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 150%;
        text-align: start;
    }

    .text-area p{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 133.3%;
        text-align: start;
    }

    .primary{
        width: 37.9rem;
        height: 5.4rem;
    }

    .box-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-container img{
        width: 12.3rem;
        height: 8.6rem;
    }

    .container-image {
        width: 55.9rem;
        height: 45.3rem;
        margin: 0;
    }

    .container-image img{
        width: 55.9rem;
        height:45.3rem;
    }

    .copyright{
        margin-top: 4.4rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 133.333%;
        margin-bottom: 2.6rem;
    }

    
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
    .container-main{
        width: 100%;
        height: auto;
    }
}


@media (min-width: 1280px){
    .container-main{
        display: flex;
        height: auto;
    }

    .logo-container{
        margin: 2.4rem 0 11.2rem 3.2rem;
    }

    .logo-container img{
        width: 12.3rem;
        height: 4.8rem;
    }

    .box-content{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
        margin-bottom: 21.5rem;
    }

    .container-text{
        width: 60.9rem;
        height: 37.6rem;
        margin: 0 0 4rem 8.8rem;
    }

    .text-area h3{
        width: 609px;
        height: 123px;
        margin-bottom: 1.2rem;

        font-size: 5.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; 
        text-align: start;
    }

    .text-area span{ 
        width: 579px;
        height: auto;
        margin-bottom: 1.6rem;

        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-align: start;
    }

    .text-area p {
        width: 579px;
        height: auto;
        margin-bottom: 3.3rem;

        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.4rem; 
        text-align: start;
    }

    .primary{
        align-self: flex-start;
        width: 36.2rem;
    }

    .container-image{
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 55.9rem;
        height: 45.3rem;
        flex-shrink: 0;
    }

    .container-image img {
        width: 55.9rem;
        height: 45.3rem;
    }
}

@media screen and (min-width: 1920px) {
    .container-main{
        height: 100%;
    }
    
}